{% extends "_layouts/cp" %}

{% set title = "Settings"|t('qarr') %}
{% set selectedSubnavItem = "settings" %}
{% set selectedSidebarItem = "settings" %}
{% set bodyClass = "qarr qarr-element-static" %}

{% block sidebar %}
    {% include 'qarr/settings/_includes/sidebar' ignore missing %}
{% endblock %}

{% set content %}
    {% set settings = craft.app.plugins.getPlugin('qarr') %}
    {% set plugin = craft.app.plugins.getPluginInfo('qarr') %}

    <h2>{{ 'Plugin Info'|t('qarr') }}</h2>

    <table class="data fullwidth fixed-layout">
        <tbody>
        <tr>
            <th class="light">{{ 'License'|t('qarr') }}</th>
            <td>
                {% switch craft.app.plugins.getPluginLicenseKeyStatus('qarr') %}
                {% case 'valid' %}
                    <span class="success" title="Valid" data-icon="check"></span> {{ 'Valid'|t('qarr') }}
                {% case 'invalid' %}
                    <span class="error" title="Invalid" data-icon="alert"></span> {{ 'Invalid'|t('qarr') }}
                {% case 'mismatched' %}
                    <span class="error" title="Mismatched" data-icon="alert"></span> {{ 'Mismatched'|t('qarr') }}
                {% default %}
                    <span class="error" title="Mismatched" data-icon="alert"></span> {{ 'Mismatched'|t('qarr') }}
                {% endswitch %}
            </td>
        </tr>
        <tr>
            <th class="light">{{ 'Edition'|t('qarr') }}</th>
            <td>{{ settings.edition }}</td>
        </tr>
        <tr>
            <th class="light">{{ 'Version'|t('qarr') }}</th>
            <td>{{ settings.version }}</td>
        </tr>
        <tr>
            <th class="light">{{ 'Schema Version'|t('qarr') }}</th>
            <td>{{ settings.schemaVersion }}</td>
        </tr>
        <tr>
            <th class="light">{{ 'Developer'|t('qarr') }}</th>
            <td><a href="{{ url(settings.developerUrl) }}">{{ settings.developer }}</a></td>
        </tr>
        <tr>
            <th class="light">{{ 'Website'|t('qarr') }}</th>
            <td><a href="{{ url(settings.pluginUrl) }}">{{ settings.pluginUrl }}</a></td>
        </tr>
        <tr>
            <th class="light">{{ 'Documentation'|t('qarr') }}</th>
            <td><a href="{{ url(settings.docsUrl) }}">{{ settings.docsUrl }}</a></td>
        </tr>
        </tbody>
    </table>

{% endset %}
