{% extends "_layouts/cp" %}
{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\UI") %}
{#{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\Info") %}#}

{% set title = "Settings"|t('qarr') %}
{% set bodyClass = 'qarr-global qarr-settings' %}
{% set selectedSubnavItem = "settings" %}
{% set currentPage = craft.app.request.getSegment(2) %}

{% block header %}
    {% include 'qarr/_ui/page-header' ignore missing %}
{% endblock %}

{% block sidebar %}
    {% include 'qarr/settings/_includes/sidebar' ignore missing %}
{% endblock %}

{% set content %}
    {% set settings = craft.app.plugins.getPlugin('qarr') %}
    {% set plugin = craft.app.plugins.getPluginInfo('qarr') %}

    <div class="flex-container">

        <div class="quarter-col utility-widget utility-info"
             data-tippy-arrow="true"
             data-tippy-theme="light"
            data-tippy="{{ craft.app.plugins.getPluginLicenseKey('qarr') }}">
            <div class="pane">
                <div class="license-status">
                    {% switch craft.app.plugins.getPluginLicenseKeyStatus('qarr') %}
                        {% case 'valid' %}
                        <div>
                            <h2>{{ 'License Valid'|t('qarr') }}</h2>
                            <p>{{ 'Thanks for your support!'|t('qarr') }}</p>
                        </div>
                        <div class="utility-icon license-status-valid">
                            <i class="fal fa-grimace"></i>
                        </div>
                        {% case 'invalid' %}
                        <div>
                            <h2>{{ 'License Invalid'|t('qarr') }}</h2>
                            <p class="small-text muted">{{ 'Dont forget to purchase license'|t('qarr') }}</p>
                        </div>
                        <div class="utility-icon license-status-invalid">
                            <i class="fal fa-sad-tear"></i>
                        </div>
                        {% case 'mismatched' %}
                        <div>
                            <h2>{{ 'License Mismatched'|t('qarr') }}</h2>
                            <p>{{ 'Dont forget to purchase license'|t('qarr') }}</p>
                        </div>
                        <div class="utility-icon license-status-mismatched">
                            <i class="fal fa-dizzy"></i>
                        </div>
                        {% default %}
                        <div>
                            <h2>{{ 'License Mismatched'|t('qarr') }}</h2>
                            <p>{{ 'Please contact support'|t('qarr') }}</p>
                        </div>
                        <div class="utility-icon">
                            <i class="fal fa-dizzy"></i>
                        </div>
                    {% endswitch %}
                </div>
            </div>


        </div>
    </div>





    {#<p>Plugin Version: {{ settings.version }}</p>#}
    {#<p>DB Schema: {{ settings.schemaVersion }}</p>#}
    {#<p>Developer: {{ settings.developer }}</p>#}

    {#{{ d(plugin) }}#}
    {#{{ d(settings) }}#}

{% endset %}
