{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\Frontend") %}

<section id="qarr-display-container">

    {% if showTabs %}
        <div class="qarr-tab-links">
            {% if includeReviews %}
                <a href="#" class="qarr-tab-link qarr-tab-link-reviews active" data-target="reviews">Reviews</a>
            {% endif %}
            {% if includeQuestions %}
                <a href="#" class="qarr-tab-link qarr-tab-link-questions" data-target="questions">Questions</a>
            {% endif %}
        </div>
    {% endif %}

    <div class="qarr-tab-container">
        <div class="qarr-loader">
            {% include 'qarr/frontend/_includes/loader' ignore missing %}
        </div>

        {% if includeReviews %}
            <div id="qarr-tab-reviews" class="qarr-tab-content active pager-style-{{ pagination }}" {% if reviewsDisplay %}data-display-id="{{ reviewsDisplay.id }}"{% endif %} data-qarr-reviews>

                <div class="qarr-tab-header">
                    {% if showButtons %}
                        <div class="qarr-header-actions">
                            {% include 'qarr/frontend/_includes/button' ignore missing with { type: 'reviews' } %}
                        </div>
                    {% endif %}
                </div>

                {% if showSort %}
                    <div class="qarr-filer-actions">
                        <div class="qarr-filter-title">
                            {{ 'Sort By'|t('qarr') }}
                        </div>
                        {% include 'qarr/frontend/_includes/sort' ignore missing with { type: 'reviews' } %}
                    </div>
                {% endif %}

                <div class="qarr-entries-body">
                    {% include 'qarr/frontend/_reviews/entries' ignore missing with { type: 'reviews', pagination: pagination } %}
                </div>
            </div>
        {% endif %}

        {% if includeQuestions %}
            <div id="qarr-tab-question" class="qarr-tab-content pager-style-{{ pagination }}" {% if questionsDisplay %}data-display-id="{{ questionsDisplay.id }}"{% endif %} data-qarr-questions>
                <div class="qarr-tab-header">
                    {% if showButtons %}
                        <div class="qarr-header-actions">
                            {% include 'qarr/frontend/_includes/button' ignore missing with { type: 'questions' } %}
                        </div>
                    {% endif %}

                </div>

                {% if showSort %}
                    <div class="qarr-filer-actions">
                        <div class="qarr-filter-title">
                            {{ 'Sort By'|t('qarr') }}
                        </div>
                        {% include 'qarr/frontend/_includes/sort' ignore missing with { type: 'questions' } %}
                    </div>
                {% endif %}

                <div class="qarr-entries-body">
                    {% include 'qarr/frontend/_questions/entries' ignore missing with { type: 'questions', pagination: pagination } %}
                </div>
            </div>
        {% endif %}
    </div>

</section>

<script>
    window.QARR = {};
    QARR.csrfTokenName = "{{ craft.app.config.general.csrfTokenName|e('js') }}";
    QARR.csrfTokenValue = "{{ craft.app.request.csrfToken|e('js') }}";
    QARR.actionUrl = "{{ actionUrl('') }}/";
    QARR.limit = "{{ limit }}";

    {% if element != '*' %}
    QARR.elementId = "{{ element.id }}";
    QARR.elementTypeId = "{{ element.type.id }}";
    {% endif %}
</script>