{% extends "_layouts/cp" %}
{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\Qarr") %}
{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\Rules") %}

{% set fullPageForm = true %}
{% set bodyClass = 'qarr qarr-edit qarr-rule-edit' %}
{% set pluginCpUrl = url('qarr') %}
{% set title = 'Rules' %}
{% set selectedSubnavItem = "rules" %}
{% set currentPage = craft.app.request.getSegment(2) %}
{% set qarrumbs = true %}

{% import "_includes/forms" as forms %}

{% block header %}
    {% include 'qarr/_includes/header' ignore missing %}
    {% block actionButton %}
        <button type="submit" class="btns btn-purple btn-rounded">{{ "Save"|t('qarr') }}</button>
    {% endblock %}
{% endblock %}

{% block content %}
    {% if rule.id %}
        {% set name = rule.name %}
    {% else %}
        {% set name = 'New Rule'|t('qarr') %}
    {% endif %}
    {% include 'qarr/settings/_includes/sub-header' ignore missing with { name: name, icon: 'flag', on: rule.enabled  } %}

    <div class="flex-container">

        <div id="content-fields" class="third-col">
            <div class="widget transparent">
                <input type="hidden" name="action" value="qarr/rules/save">
                {{ redirectInput('qarr/rules') }}

                {% if rule.id %}
                    <input type="hidden" name="ruleId" value="{{ rule.id }}">
                {% endif %}

                <div class="qarr-field custom-field {% if rule.getErrors('name') %}has-error{% endif %} {% if rule.name %}has-value{% endif %}">
                    <input class="text fullwidth" type="text" id="name" name="name" value="{{ rule.name }}"
                           maxlength="255" autocomplete="off">
                    <label id="name-label" for="name" data-label="{{ 'Name'|t('qarr') }}"
                           data-error-message="{% if rule.getErrors('name') %}{{ rule.getErrors('name')[0] }}{% endif %}">
                        {% if rule.getErrors('name') %}
                            {{ rule.getErrors('name')[0] }}
                        {% else %}
                            {{ 'Name'|t('qarr') }}
                        {% endif %}
                    </label>
                    <span class="qarr-error-icon"><i class="fa fa-exclamation-triangle"></i></span>
                </div>

                <div class="qarr-field custom-field {% if rule.getErrors('handle') %}has-error{% endif %} {% if rule.handle %}has-value{% endif %}">
                    <input class="text fullwidth" type="text" id="handle" name="handle" value="{{ rule.handle }}"
                           autocomplete="off">
                    <label id="handle-label" for="handle" data-label="{{ 'Handle'|t('qarr') }}"
                           data-error-message="{% if rule.getErrors('name') %}{{ rule.getErrors('name')[0] }}{% endif %}">
                        {% if rule.getErrors('handle') %}
                            {{ rule.getErrors('handle')[0] }}
                        {% else %}
                            {{ 'Handle'|t('qarr') }}
                        {% endif %}
                    </label>
                    <span class="qarr-error-icon"><i class="fa fa-exclamation-triangle"></i></span>
                </div>

                <div id="data-list-container">
                    <h2>{{ 'Data List'|t('qarr') }}</h2>
                    <p class="small-text muted">{{ 'Enter a list of words to look out for'|t('qarr') }}</p>
                    <input class="tagify--outside" id="rule-data" type="text" name="data" placeholder="Enter words here. eg. boring, broken..." value="{{ rule.data }}">

                    <a class="btns btn-rounded btn-mini btn-gray tags--removeAllBtn {% if rule.data == '' %}btn-disabled{% endif %}">Clear All</a>
                </div>
            </div>
        </div>
        <div class="quarter-col">
            <div class="entry-settings">
                <div class="col-header">
                    <h2>{{ 'Customize'|t('qarr') }}</h2>
                </div>

                <div class="qarr-field custom-field has-value">
                    {% if rule.icon %}
                        {% set icon = rule.icon %}
                    {% else %}
                        {% set icon = 'exclamation' %}
                    {% endif %}
                    <input class="text fullwidth" type="text" id="rule-icon" name="icon" value="{{ icon }}" autocomplete="off">
                    <label id="rule-icon-label" for="rule-icon" >
                        {{ 'Icon'|t('qarr') }}
                    </label>
                    <span class="qarr-input-icon"><i class="fal fa-{{ icon }}"></i></span>
                </div>
                <p class="small-text muted">See <a href="https://fontawesome.com/icons" target="_blank">FontAwesome</a> for icon names.</p>
            </div>
        </div>
    </div>

{% endblock %}

{% js %}
    {% if rule is defined and not rule.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}

    $('#name').on('keyup', function(e) {
        var text = $(this).val();
        var titleEl = $('.entry-title h1');

        titleEl.html(text);
    });
{% endjs %}