{% extends "_layouts/cp" %}
{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\UI") %}
{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\Rules") %}
{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\ElementStatic") %}

{% set fullPageForm = true %}
{% set bodyClass = 'qarr-global qarr-static-elements qarr-edit' %}
{% set pluginCpUrl = url('qarr') %}

{% if rule.id %}
    {% set title = rule.name %}
{% else %}
    {% set title = 'New Rule'|t('qarr') %}
{% endif %}


{#{% set title = 'Rules' %}#}
{% set selectedSubnavItem = "rules" %}
{% set currentPage = craft.app.request.getSegment(2) %}
{% set qarrumbs = true %}

{% import "_includes/forms" as forms %}

{% block header %}
    {% include 'qarr/_ui/page-header' ignore missing %}
{% endblock %}

{% block content %}
    <input type="hidden" name="action" value="qarr/rules/save">
    {{ redirectInput('qarr/rules') }}

    {% if rule.id %}
        <input type="hidden" name="ruleId" value="{{ rule.id }}">
    {% endif %}

    {{ d(rule) }}

    <div class="element-container">
        <div class="mb-4">
            <label for="name" class="qarr-label">
                {% if rule.getErrors('name') %}
                    {{ rule.getErrors('name')[0] }}
                {% else %}
                    {{ 'Name'|t('qarr') }}
                {% endif %}
            </label>
            <input class="qarr-input" type="text" id="name" name="name" value="{{ rule.name }}" maxlength="255" autocomplete="off">
        </div>

        <div class="mb-4">
            <label for="handle" class="qarr-label">
                {% if rule.getErrors('handle') %}
                    {{ rule.getErrors('handle')[0] }}
                {% else %}
                    {{ 'Handle'|t('qarr') }}
                {% endif %}
            </label>
            <input class="qarr-input" type="text" id="handle" name="handle" value="{{ rule.handle }}" autocomplete="off">
        </div>

        <div class="mb-4">
            <label class="qarr-label">{{ 'Enable rule'|t('qarr') }}</label>

            {%- set on = (rule.enabled is defined ? rule.enabled : false) %}
            {%- set value = (value is defined ? value : '1') %}
            <div class="lightswitch {% if rule.enabled %} on{% endif %} small">
                <div class="lightswitch-container">
                    <div class="label on"></div>
                    <div class="handle"></div>
                    <div class="label off"></div>
                </div>
                <input type="hidden" name="enabled" value="{{ rule.enabled ? value }}">
            </div>
        </div>



        <div id="data-list-container">
            <h2 class="mb-0">{{ 'Words List'|t('qarr') }}</h2>
            <p class="text-sm opacity-50 mt-1">{{ 'Enter a list of words to catch'|t('qarr') }}</p>
            <input class="tagify--outside" id="rule-data" type="text" name="data" placeholder="eg. boring, broken, sucks, lame, golden, funny..." value="{{ rule.data }}">

            <a class="block qarr-btn-link my-2 tags--removeAllBtn {% if rule.data == '' %}btn-disabled{% endif %}">{{ 'Clear All'|t('qarr') }}</a>
        </div>


        <div class="entry-actions mt-10">
            <button type="submit" class="qarr-btn btn-purple">{{ "Save"|t('qarr') }}</button>
        </div>

    </div>

{% endblock %}

{% js %}
    {% if rule is defined and not rule.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}

    $('#name').on('keyup', function(e) {
    var text = $(this).val();
    var titleEl = $('.entry-title h1');

    titleEl.html(text);
    });
{% endjs %}