{% requirePermission 'qarr:accessRules' %}

{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\UI") %}

{% set title = "Rules"|t('qarr') %}
{% set selectedSubnavItem = "rules" %}
{% set bodyClass = "qarr qarr-element-static" %}

{% block actionButton %}
    <a href="{{ url('qarr/rules/new') }}" class="btn submit add icon">{{ "New Rule"|t('qarr') }}</a>
{% endblock %}

{% block content %}

    <div class="field">

        {% include 'qarr/_elements/no-elements' ignore missing with {
            text: 'No rules exist yet.'|t('qarr'),
            hidden: rules|length ? true : false
        } %}

        {% if rules|length %}
            <table id="rules" class="data fullwidth collapsible">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Handle</th>
                    <th scope="col">Flagged Entries</th>
                    <th scope="col">Status</th>
                    <th scope="thin"></th>
                </tr>
                </thead>
                <tbody>
                {% for rule in rules %}
                    <tr data-id="{{ rule.id }}" data-name="{{ rule.name }}">
                        <th scope="row" data-title="{{ 'Display Name'|t('qarr') }}"><a
                                    href="{{ url('qarr/rules/' ~ rule.id) }}">{{ rule.name }}</a></th>
                        <td scope="code" data-title="{{ 'Handle'|t('qarr') }}">{{ rule.handle }}</td>
                        <td scope="row"
                            data-title="{{ 'Flagged Entries'|t('qarr') }}">{{ craft.qarrRules.getFlaggedCountByRuleId(rule.id) }}</td>
                        <td scope="row" data-title="{{ 'Status'|t('qarr') }}">{{ rule.enabled }}</td>
                        <td scope="thin"><a class="delete icon" title="{{ 'Delete'|t('app') }}"></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock %}

{% js %}
    var adminTable = new Craft.AdminTable({
    tableSelector: '#rules',
    noItemsSelector: '#norules',
    deleteAction: 'qarr/rules/delete',
    });
{% endjs %}