{% for entry in entries %}
    <div class="element-item mb-4 pb-4 border-b border-gray-200 border-solid widget-recent-element-item" data-type="{{ type }}" data-element-id="{{ entry.id }}">

        <div class="element-object text-base font-mono flex-container items-center" data-tippy-id="{{ entry.id }}">
            <div>{{ entry.element }}</div>
            <div class="icon tippy-with-html ml-2" data-tippy-id="{{ entry.id }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="fill-current opacity-50" viewBox="0 0 20 20"><path d="M.2 10a11 11 0 0 1 19.6 0A11 11 0 0 1 .2 10zm9.8 4a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/></svg>
            </div>
        </div>
        <div class="item-meta-title text-xs text-gray-500 mb-2">{{ 'Posted by '|t('qarr') }}{{ entry.fullName }} {{ 'on'|t('qarr') }} {{ entry.dateCreated |date() }}</div>

        {% if type == 'reviews' %}
            {% include 'qarr/_includes/star-rating' ignore missing with { rating: entry.rating } %}
        {% endif %}

        <div class="entry-feedback text-gray-700 mt-2">
            {% if type == 'reviews' %}
                <div>{{ entry.feedback |truncate(150, 'read the rest'|t('qarr'), entry.url) |raw }}</div>
            {% else %}
                <div>{{ entry.question |truncate(150, 'read the rest'|t('qarr'), entry.url) |raw }}</div>
            {% endif %}
        </div>

        <div class="item-actions btngroup">
            <div class="action-btn action-approve btn submit" data-type="{{ type }}" data-status="approved" data-action-type="status" data-element-id="{{ entry.id }}">
                {{ 'Approve'|t('qarr') }}
            </div>

            <div class="action-btn action-reject btn secondary" data-type="{{ type }}" data-status="rejected" data-action-type="status" data-element-id="{{ entry.id }}">
                {{ 'Reject'|t('qarr') }}
            </div>

            {% if currentUser.can('qarr:deleteReviews') %}
                <div class="action-btn action-delete btn dashed" style="margin-left: auto;" data-type="{{ type }}" data-action-type="delete" data-element-id="{{ entry.id }}">
                    {{ 'Delete'|t('qarr') }}
                </div>
            {% endif %}
        </div>

        <div id="element-popup-{{ entry.id }}" style="display: none;">
            {% include 'qarr/_elements/element-element' ignore missing with { entry: entry, link: true, configure: false } %}
        </div>

    </div>
{% endfor %}