{% for entry in entries.all() %}
    <div class="list-item has-hover pad" id="item-{{ type }}-{{ loop.index }}" data-id="{{ entry.id }}">
        <div class="item-wrapper">
            <div class="item-title">
                <a href="{{ entry.url }}">{{ entry.title }}</a>
            </div>
            <div class="item-meta">
                <span class="item-meta-icon"><i class="far fa-tags"></i></span>
                <span class="item-meta-title">{{ entry.product.title }}</span>
                <span class="item-pipe">|</span>
                <span class="item-meta-icon">
                    {% if entry.customer is defined %}
                        <span class="badge-verified"><i class="fa fa-badge-check"></i></span>
                    {% else %}
                        <i class="far fa-user"></i>
                    {% endif %}
                </span>
                <span class="item-meta-title">{{ 'Posted by '|t('qarr') }}{{ entry.fullName }}</span>
            </div>

            <div class="item-feedback">
                {% if type == 'reviews' %}
                    {% include 'qarr/_includes/star-rating' ignore missing with { rating: entry.rating } %}
                {% endif %}

                <div class="feedback-text">
                    {% if type == 'reviews' %}
                        <p>{{ entry.feedback |truncate(150)}}</p>
                    {% else %}
                        <p>{{ entry.question |truncate(150)}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="item-actions">
            <div class="action-approve">
                <a href="#" class="approve-btn action-btn" data-action-type="approve"><i class="fal fa-check-circle"></i></a>
            </div>
            <div class="action-other">
                <a href="#" class="delete-btn action-btn" data-action-type="delete"><span><i class="fal fa-trash-alt"></i></span></a>
                <a href="#" class="reject-btn action-btn" data-action-type="reject"><span><i class="fal fa-times-circle"></i></span></a>
            </div>
        </div>
    </div>
{% else %}
    <div class="list-item excluded no-submissions">
        <div class="item-wrapper">
            {% include 'qarr/_includes/icons/icon-' ~ type ignore missing %}
            <p>{{ 'No recent submissions'|t('qarr') }}</p>
        </div>
    </div>
{% endfor %}