<div class="w-9/12">
    <div class="widget-header">
        <h2>{{ title }}</h2>
    </div>
    <div class="chart-explorer-container chart-{{ type }}"></div>
</div>

<div class="w-3/12 text-center" id="widget-{{ type }}">
    <div class="widget-header">
        <h2>{{ 'Total'|t('qarr') }}</h2>
    </div>
    <div class="widget-pie">
        <div class="pie-area">
            <div id="{{ type }}-donut"></div>
        </div>
        <div class="pie-stats">
            <div class="stat-item stat-pending">
                <div class="stat-icon"></div>
                <div class="stat-label">{{ 'Pending'|t('qarr') }}</div>
                <div class="stat-value">0%</div>
            </div>
            <div class="stat-item stat-approved">
                <div class="stat-icon"></div>
                <div class="stat-label">{{ 'Approved'|t('qarr') }}</div>
                <div class="stat-value">0%</div>
            </div>
            <div class="stat-item stat-rejected">
                <div class="stat-icon"></div>
                <div class="stat-label">{{ 'Rejected'|t('qarr') }}</div>
                <div class="stat-value">0%</div>
            </div>
        </div>
    </div>
</div>