{% if type == 'reviews' %}
    {% set entries = craft.qarr.reviews({
        limit: limit,
        status: 'pending',
    }).all() %}
{% else %}
    {% set entries = craft.qarr.questions({
        limit: limit,
        status: 'pending',
    }).all() %}
{% endif %}

<div id="widget-recent-{{ type }}" class="widget widget-recent-{{ type }} {{ class is defined ? class }}" data-limit="{{ limit }}" data-id="{{ type }}" data-type="{{ type }}" data-title="{{ type |capitalize|t('qarr') }}">
    <div class="front">
        <div class="pane">
            <div class="heading">
                <h2>{{ title }}</h2>
                <a href="{{ url('qarr') ~ '/' ~ type }}" class="link">See all</a>
            </div>

            <div class="body">
                <div class="list">
                    {% for entry in entries %}
                        {% set flags = entry.getFlags() %}
                        <div class="list-item has-hover pad" id="item-{{ type }}-{{ loop.index }}" data-id="{{ entry.id }}">
                            <div class="item-wrapper">
                                {% if flags or entry.abuse %}
                                    <div class="pulse round warning flagged-indicator"></div>
                                {% endif %}

                                <div class="item-title">
                                    <a href="{{ entry.url }}">{{ entry.title }}</a>
                                </div>
                                <div class="item-meta">
                                    <span class="item-meta-icon">
                                        {% include 'qarr/_elements/element-type-icon' ignore missing with { entry: entry } %}
                                    </span>
                                    {% if entry.element.id %}
                                        <span class="item-meta-title">{{ entry.element.title }}</span>
                                    {% else %}
                                        <span class="item-meta-title color-danger">{{ 'Element does not exist!'|t('qarr') }}</span>
                                    {% endif %}
                                    <span class="item-pipe">|</span>
                                    <span class="item-meta-icon">
                                        {% if entry.customer is defined %}
                                            <span class="badge-verified"><i class="fa fa-badge-check"></i></span>
                                        {% else %}
                                            <i class="far fa-user"></i>
                                        {% endif %}
                                    </span>
                                    <span class="item-meta-title">{{ 'Posted by '|t('qarr') }}{{ entry.fullName }}</span>
                                </div>

                                {% if flags or entry.abuse %}
                                    <div class="primary-meta rules-meta">
                                        <div class="flagged-rules">
                                            {% for flag in flags %}
                                                <div class="flagged-item flagged-{{ flag.rule.handle }}">
                                                    <i class="fal fa-{{ flag.rule.icon }}"></i>
                                                    <span>{{ flag.rule.name }}</span>
                                                </div>
                                            {% endfor %}

                                            {% if entry.abuse %}
                                                <div class="flagged-item">
                                                    <i class="fal fa-exclamation"></i>
                                                    <span>{{ 'Abuse reported'|t('qarr') }}</span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="item-feedback">
                                    {% if type == 'reviews' %}
                                        {% include 'qarr/_includes/star-rating' ignore missing with { rating: entry.rating } %}
                                    {% endif %}

                                    <div class="feedback-text">
                                        {% if type == 'reviews' %}
                                            <p>{{ entry.feedback |truncate(150)}}</p>
                                        {% else %}
                                            <p>{{ entry.question |truncate(150)}}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="item-actions">
                                <div class="action-approve">
                                    <a href="#" class="approve-btn action-btn" data-action-type="approve"><i class="fal fa-check-circle"></i></a>
                                </div>
                                <div class="action-other">
                                    <a href="#" class="delete-btn action-btn" data-action-type="delete"><span><i class="fal fa-trash-alt"></i></span></a>
                                    <a href="#" class="reject-btn action-btn" data-action-type="reject"><span><i class="fal fa-times-circle"></i></span></a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="list-item excluded no-submissions">
                            <div class="item-wrapper">
                                {% include 'qarr/_includes/icons/icon-' ~ type ignore missing %}
                                <p>{{ 'No recent submissions'|t('qarr') }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
