<div id="widget-top-country-submissions" class="widget widget-top-country-submissions {{ class }}">
    <div class="front">
        <div class="pane">
            <div class="body">
                {#<div id='map' style='width: 560px; height: 600px;'></div>#}

                <div class="flex-container">

                    <div class="continent-list full-col">
                        {% set geolocations = craft.geolocations.all() %}

                        {% if geolocations %}
                            {% for continent, location in geolocations.byContinent %}
                                <div class="list-item has-hover pad tippy-with-html">
                                    <div class="item-wrapper">
                                        <div class="item-title">{{ continent }}</div>
                                        <div class="item-progress">
                                            <div class="item-progress-bar">
                                                <div class="item-progress-bar-track theme-purple" style="width: {{ location.percentage }};"></div>
                                            </div>
                                            <div class="item-progress-count">{{ location.percentage }}</div>
                                        </div>
                                    </div>
                                </div>

                                <div id="country-details-{{ loop.index }}">
                                    hi
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>