<div id="widget-top-country-submissions" class="widget widget-top-country-submissions {{ class }}">
    <div class="front">
        <div class="pane">
            <h2>{{ 'Top Submissions'|t('qarr') }}</h2>

            <div class="body">
                <div class="flex-container">

                    <div class="continent-list full-col">
                        {% set geolocations = craft.geolocations.all() %}
                        {% if geolocations %}
                            {% for continent, location in geolocations.byContinent %}
                                <div class="list-item has-hover pad tippy-with-html">
                                    <div class="item-wrapper">
                                        <div class="item-title">{{ continent }}</div>
                                        <div class="item-progress">
                                            <div class="item-progress-bar">
                                                <div class="item-progress-bar-track theme-purple" style="width: {{ location.percentage }};"></div>
                                            </div>
                                            <div class="item-progress-count">{{ location.percentage }}</div>
                                        </div>
                                    </div>
                                </div>





                                <div id="country-details-{{ loop.index }}" class="widget-top-country-details" style="display: none;">
                                    <div class="details-header">
                                        <h2>{{ continent }}</h2>
                                        <span>{{ 'Total Submissions'|t('qarr') }}</span>
                                        <div class="location-total-count">{{ location.count }}</div>
                                    </div>

                                    <div class="details-wrapper">
                                        <ul>
                                            {% for code, country in location.countries %}
                                            <li>
                                                <span class="flag-icon flag-icon-{{ code|lower }}"></span>
                                                <div class="country-details">{{ country.country }}</div>
                                                <div class="country-details-count ">{{ country.count }}</div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                    <div class="details-actions">
                                        <a href="#" class="btns btn-rounded btn-purple btn-disabled create-campaign">{{ 'Create Email Campaign'|t('qarr') }}</a>
                                    </div>
                                </div>





                            {% endfor %}
                        {% else %}
                            <div class="list-item excluded no-submissions">
                                <div class="item-wrapper">
                                    {% include 'qarr/_includes/icons/icon-people-talking' ignore missing %}

                                    <div class="item-actions">
                                        {% if craft.qarrElements.getTotalApproved() > 0 %}
                                            <a href="#" class="btns btn-rounded btn-purple btn-icon update-status-btn reset-geolocation-stats">{{ 'Reset Stats'|t('qarr') }}</a>
                                        {% endif %}
                                        <p>{{ 'Geolocation data is not available'|t('qarr') }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>