{% requirePermission 'qarr:accessCampaigns' %}

{% extends "_layouts/cp" %}

{% set title = "Email Templates"|t('qarr') %}
{% set selectedSubnavItem = "email-templates" %}
{% set selectedSidebarItem = "email-templates" %}
{% set bodyClass = "qarr qarr-element-static" %}

{% block actionButton %}
    <a href="{{ url('qarr/campaigns/email-templates/new') }}" class="btn submit add icon">{{ "New Email Template"|t('qarr') }}</a>
{% endblock %}

{% block sidebar %}
    {% include 'qarr/campaigns/_includes/sidebar' ignore missing %}
{% endblock %}

{% block main %}

    <div class="content-pane">
        <h2>Pre-Built Templates</h2>

        <ul class="icons">
            <li>
                <a href="">
                    <div class="icon icon-mask">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="35px" height="35px" viewBox="0 0 35 35" style="enable-background:new 0 0 35 35;" xml:space="preserve"><path d="M0,25.366h35V9.546H0V25.366z M2.121,11.667h30.758v11.578H2.121V11.667z"/><rect y="28.283" width="35" height="6.717"/><rect width="35" height="6.717"/></svg>
                    </div>
                    Minimal
                </a>
            </li>
        </ul>
    </div>

    <br>

    <div class="content-pane">
        <div class="field">

            {% include 'qarr/_elements/no-elements' ignore missing with {
                text: 'No email templates exist yet.'|t('qarr'),
                hidden: templates|length ? true : false
            } %}

            {% if templates|length %}
                <table id="templates" class="data fullwidth collapsible">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Handle</th>
                        <th scope="col">Enabled</th>
                        <th class="thin"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for template in templates %}
                        {% set enabled = template.enabled ? 'Yes' : 'No' %}

                        <tr data-id="{{ template.id }}" data-name="{{ template.name }}">
                            <th scope="row" data-title="{{ 'Name'|t('qarr') }}"><a href="{{ url('qarr/campaigns/email-templates/' ~ template.id) }}">{{ template.name }}</a></th>
                            <td data-title="{{ 'Handle'|t('qarr') }}">{{ template.handle }}</td>
                            <td data-title="{{ 'Enabled'|t('qarr') }}">{{ enabled }}</td>
                            <td class="thin"><a class="delete icon" title="{{ 'Delete'|t('app') }}"></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% js %}
var adminTable = new Craft.AdminTable({
    tableSelector: '#templates',
    noItemsSelector: '#noelements',
    deleteAction: 'qarr/campaigns/email-templates/delete',
});
{% endjs %}