{% requirePermission 'qarr:accessDisplays' %}

{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}
{% import "qarr/_includes/macros/_buttons" as buttons %}

{% set selectedSubnavItem = "displays" %}
{% set bodyClass = 'qarr qarr-element-edit' %}
{% set isNewElement = display.id ? false : true %}

{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\Displays") %}

{% set tabs = [
    {
        'id': 'display',
        'label': 'Display',
        'url': '#display'
    },
    {
        'id': 'fieldlayout',
        'label': 'Fields',
        'url': '#fieldlayout'
    }
] %}

{% block actionButton %}
    <div id="save-btn-container" class="btngroup submit">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
        <div class="btn submit menubtn"></div>
        <div class="menu" data-align="right">
            <ul>
                <li>
                    <a class="formsubmit" data-redirect="{{ '{cpEditUrl}'|hash }}">
                        {{ forms.optionShortcutLabel('S') }}
                        {{ "Save and continue editing"|t('app') }}
                    </a>
                </li>
                <li>
                    <a class="formsubmit" data-redirect="{{ "qarr/displays/new"|hash }}">
                        {{ "Save and add another"|t('app') }}
                    </a>
                </li>
            </ul>
            {% if not isNewElement %}
            <hr>
            <ul>
                <li>
                    <a class="formsubmit error" data-action="qarr/displays/delete"
                       data-confirm="{{ 'Are you sure you want to delete this display?'|t('qarr') }}"
                       data-redirect="{{ 'qarr/displays'|hash }}">
                        {{ 'Delete display'|t('qarr') }}
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="fields">
        {{ actionInput('qarr/displays/save') }}
        {{ redirectInput('qarr/displays') }}

        {% if display.id %}{{ hiddenInput('id', display.id) }}{% endif %}

        {{ forms.textField({
            label: "Name"|t('app'),
            siteId: display.name,
            id: 'name',
            name: 'name',
            first: true,
            autofocus: true,
            autocorrect: false,
            autocapitalize: false,
            value: display.name,
            placeholder: "Enter name"|t('qarr'),
            errors: (display.getErrors('name'))
        }) }}

        <div id="display">

            {{ forms.textField({
                label: "Title Format"|t('qarr'),
                siteId: display.titleFormat,
                id: 'titleFormat',
                name: 'titleFormat',
                instructions: 'eg. Review from {fullName} submitted on {dateCreated}',
                autocorrect: false,
                autocapitalize: false,
                value: display.titleFormat,
                placeholder: "Enter title format"|t('qarr'),
                errors: (display.getErrors('titleFormat'))
            }) }}

            <div id="title-format-items" class="flex mt-2">
                <div class="btn secondary tag-link qarr-btn btn-small" data-target="#titleFormat"
                        data-field="{dateCreated}">Date Created
                </div>
                <div class="btn secondary tag-link qarr-btn btn-small" data-target="#titleFormat"
                        data-field="{fullName}">Full Name
                </div>
                <div class="btn secondary tag-link qarr-btn btn-small" data-target="#titleFormat"
                        data-field="{emailAddress}">Email Address
                </div>
            </div>
        </div>

        <div id="fieldlayout" class="hidden">
            {% include "qarr/_elements/element-field-layout-designer" with {
                fieldLayout: display.getFieldLayout(),
                customizableTabs: true,
                display: display
            } only %}
        </div>
    </div>

{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        {{ forms.textField({
            label: "Handle"|t('app'),
            siteId: display.siteId,
            id: 'handle',
            name: 'handle',
            autocorrect: false,
            autocapitalize: false,
            value: display.handle,
            placeholder: "Enter handle"|t('qarr'),
            errors: (display.getErrors('handle'))
        }) }}

        {{ forms.lightswitchField({
            label: "Enabled"|t('app'),
            id: 'enabled',
            name: 'enabled',
            on: display.enabled
        }) }}
    </div>
{% endblock %}

{% js %}
    {% if display and not display.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}
{% endjs %}