{% requirePermission 'qarr:accessDisplays' %}

{% extends "_layouts/cp" %}

{% set title = "Displays"|t('qarr') %}
{% set selectedSubnavItem = "displays" %}
{% set bodyClass = "qarr qarr-element-static" %}

{% block actionButton %}
    <a href="{{ url('qarr/displays/new') }}" class="btn submit add icon">{{ "New Display"|t('qarr') }}</a>
{% endblock %}

{% block content %}
    <div class="field">

        {% include 'qarr/_elements/no-elements' ignore missing with {
            text: 'No displays exist yet.'|t('qarr'),
            hidden: displays|length ? true : false
        } %}

        {% if displays|length %}
            <table id="displays" class="data fullwidth collapsible">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Handle</th>
                    <th scope="col">Fields</th>
                    <th scope="col">Status</th>
                    <th scope="thin"></th>
                </tr>
                </thead>
                <tbody>
                {% for display in displays %}
                    <tr data-id="{{ display.id }}" data-name="{{ display.name }}">
                        <th scope="row" data-title="{{ 'Display Name'|t('qarr') }}"><a
                                    href="{{ url('qarr/displays/' ~ display.id) }}">{{ display.name }}</a></th>
                        <td scope="code" data-title="{{ 'Handle'|t('qarr') }}">{{ display.handle }}</td>
                        <td scope="row"
                            data-title="{{ 'Fields'|t('qarr') }}">{{ display.fieldlayout.fields |length }}</td>
                        <td scope="row" data-title="{{ 'Status'|t('qarr') }}">{{ display.enabled }}</td>
                        <td scope="thin"><a class="delete icon" title="{{ 'Delete'|t('app') }}"></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>
{% endblock %}

{% js %}
    var adminTable = new Craft.AdminTable({
        tableSelector: '#displays',
        noItemsSelector: '#noelements',
        deleteAction: 'qarr/displays/delete',
    });
{% endjs %}