{% set reviewsCount = craft.qarr.getCount('reviews', 'pending') %}
{% set questionsCount = craft.qarr.getCount('questions', 'pending') %}

<section id="navigation">
    <nav class="primary-nav">
        <a href="{{ url('qarr/reviews') }}" {% if currentPage == 'reviews' %}class="active-link"{% endif %}>
            <span class="link">{{ 'Reviews'|t('qarr') }}</span>
            {% if reviewsCount > 0 %}
                <span class="badge">
                    <span class="badge-count reviews-count-header">{{ reviewsCount }}</span>
                </span>
            {% endif %}
        </a>

        <a href="{{ url('qarr/questions') }}" {% if currentPage == 'questions' %}class="active-link"{% endif %}>
            <span class="link">{{ 'Questions'|t('qarr') }}</span>
            {% if questionsCount > 0 %}
                <span class="badge">
                    <span class="badge-count questions-count-header">{{ questionsCount }}</span>
                </span>
            {% endif %}
        </a>

        <a href="{{ url('qarr/displays') }}" class="{% if currentPage == 'displays' %}active-link{% endif %}">
            <span class="link">{{ 'Displays'|t('qarr') }}</span>
        </a>

        <a href="{{ url('qarr/rules') }}" class="{% if currentPage == 'rules' %}active-link{% endif %}">
            <span class="link">{{ 'Rules'|t('qarr') }}</span>
        </a>
    </nav>
</section>