{% set readonly = false %}
{% set hasUser = false %}

{% if type == 'review' %}
    {% set readonly = true %}
{% endif %}

{% if currentUser %}
    {% set hasUser = true %}
{% endif %}

<form id="qarr-modal-{{ type }}" class="modal qarr-modal fitted prompt-modal">
    {{ csrfInput() }}
    <input type="hidden" name="elementId" value="{{ elementId }}">
    <input type="hidden" name="parentId" value="{{ parentId }}">

    {% if hasUser %}
        <input type="hidden" name="currentUser" value="{{ currentUser.id }}">
    {% endif %}
    
    <div class="qarr-header">
        <span class="header-text">{{ title }}</span>
    </div>

    <div class="qarr-body">
        {# Default Fields #}
        <div class="qarr-field custom-field has-value" id="fields-fullName-{{ type }}">
            <input type="text" name="fields[fullName]" id="qarr-full-name-{{ type }}" value="{{ hasUser ? currentUser.name : null }}" {{ readonly ? 'readonly' : null }}>
            <label for="qarr-full-name-{{ type }}" data-label="{{ 'Full Name'|t('qarr') }}" data-error-message="{{ 'Full Name is required'|t('qarr') }}">{{ 'Full Name'|t('qarr') }}</label>
            <span class="qarr-error-icon">{% include 'qarr/frontend/_includes/_error-icon' ignore missing %}</span>
        </div>

        <div class="qarr-field custom-field has-value" id="fields-emailAddress-{{ type }}">
            <input type="text" name="fields[emailAddress]" id="qarr-email-address-{{ type }}" value="{{ hasUser ? currentUser.email : null }}" {{ readonly ? 'readonly' : null }}>
            <label for="qarr-email-address-{{ type }}" data-label="{{ 'Email Address'|t('qarr') }}" data-error-message="{{ 'Email Address is required'|t('qarr') }}">{{ 'Email Address'|t('qarr') }}</label>
            <span class="qarr-error-icon">{% include 'qarr/frontend/_includes/_error-icon' ignore missing %}</span>
        </div>

        {% if type == 'review' %}
            <div class="qarr-field"id="field-rating-{{ type }}">
                <span class="qarr-label">{{ 'Rating'|t('qarr') }}</span>

                <div class="qarr-star-container">
                    {% for i in 1..5 %}
                        <div class="qarr-star {% if loop.first %}selected{% endif %}" data-star-count="{{ i }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88 83.91"><path d="M43.91 0a2 2 0 0 0-1.82 1.39l-9.42 29.19L2 30.52a2 2 0 0 0-1.17 3.62l24.85 18-9.54 29.15a2 2 0 0 0 3.08 2.23L44 65.44l24.78 18.08a2 2 0 0 0 3.08-2.23l-9.54-29.17 24.85-18a2 2 0 0 0-1.17-3.6l-30.67.06-9.43-29.2A2 2 0 0 0 43.91 0z" /></svg></div>
                    {% endfor %}
                    <input type="hidden" id="qarr-rating-input" name="fields[rating]" value="1">
                </div>
            </div>

            <div class="qarr-field custom-field custom-textarea" id="fields-feedback-{{ type }}">
                <textarea name="fields[feedback]" cols="30" rows="10" id="qarr-feedback-{{ type }}"></textarea>
                <label for="qarr-feedback-{{ type }}" data-label="{{ 'Your Feedback'|t('qarr') }}" data-error-message="{{ 'Your Feedback is required'|t('qarr') }}">{{ 'Your Feedback'|t('qarr') }}</label>
                <span class="qarr-error-icon">{% include 'qarr/frontend/_includes/_error-icon' ignore missing %}</span>
            </div>

        {% endif %}

        {% if type == 'question' %}
            <div class="qarr-field custom-field custom-textarea" id="fields-question-{{ type }}">
                <textarea name="fields[question]" cols="30" rows="10" id="qarr-question-{{ type }}"></textarea>
                <label for="qarr-question-{{ type }}" data-label="{{ 'Your Question'|t('qarr') }}" data-error-message="{{ 'Your Question is required'|t('qarr') }}">{{ 'Your Question'|t('qarr') }}</label>
                <span class="qarr-error-icon">{% include 'qarr/frontend/_includes/_error-icon' ignore missing %}</span>
            </div>
        {% endif %}

        {# Dynamic Fields #}
        {% if display is defined and display %}
            <input type="hidden" name="displayId" value="{{ display.id }}">
            <input type="hidden" name="displayHandle" value="{{ display.handle }}">

            {%- namespace 'fields' -%}
                {% set tabs = display.getFieldLayout.getTabs() %}

                {% for tab in tabs %}
                    {% set fields = tab.getFields() %}

                    {% for field in fields %}
                        {% set fieldType = field |getClass %}
                        {% set allowed = craft.qarr.allowedFields %}
                        {% if fieldType in allowed %}
                            <div class="qarr-field {% if fieldType == 'PlainText' or fieldType == 'Url' %}custom-field{% endif %}" data-field-type="{{ fieldType|lower }}" id="{{ field.handle }}-{{ type }}">
                                {% if fieldType == 'PlainText' or fieldType == 'Url' %}
                                    {{ field.getInputHtml('') |raw }}
                                    <label for="{{ field.handle }}" {% if field.required %}data-label="{{ field.name }}" data-error-message="{{ field.name }} {{ 'is required'|t('qarr') }}"{% endif %}>{{ field.name }}</label>
                                {% else %}
                                    <label for="{{ field.handle }}" class="qarr-label" {% if field.required %}data-label="{{ field.name }}" data-error-message="{{ field.name }} {{ 'is required'|t('qarr') }}"{% endif %}>{{ field.name }}</label>
                                    {{ field.getInputHtml('') |replace({'id=""': ''})|raw }}
                                {% endif %}
                                {% if fieldType == 'PlainText' or fieldType == 'Url' %}
                                    <span class="qarr-error-icon">{% include 'qarr/frontend/_includes/_error-icon' ignore missing %}</span>
                                {% endif %}
                            </div>

                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endnamespace %}
        {% endif %}
    </div>

    <div class="qarr-footer">
        <input type="button" class="btn-modal cancel" value="{{ 'Cancel'|t('qarr') }}">
        <input type="submit" class="btn-modal submit" value="{{ 'Submit'|t('qarr') }}">
    </div>
</form>