<div id="qarr-{{ type }}-pagination" class="qarr-pagination"  data-next-url="{{ pageInfo.nextUrl }}" data-prev-url="{{ pageInfo.prevUrl }}">
    <div class="qarr-pager-container">
        {% if pagination == 'infinite' %}
            <a href="#" class="qarr-pager qarr-pager-next qarr-pager-infinite" data-direction="next"><span>{{ 'Load More'|t('qarr') }}</span></a>
        {% else %}
            <a href="{{ pageInfo.prevUrl }}" class="qarr-pager qarr-pager-prev" data-direction="prev"><span>&#8249;</span></a>
            <a href="{{ pageInfo.nextUrl }}" class="qarr-pager qarr-pager-next" data-direction="next"><span>&#8250;</span></a>
        {% endif %}
    </div>
</div>

{% js %}
    window.{{ type }}Pager = new QarrPagination('{{ type }}');
{% endjs %}