{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\Qarr") %}
{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\Questions") %}

{% set bodyClass = 'qarr qarr-edit' %}
{% set pluginCpUrl = url('qarr') %}
{% set selectedSubnavItem = "questions" %}
{% set currentPage = craft.app.request.getSegment(2) %}

{% block header %}
    {% include 'qarr/_includes/header' ignore missing %}
{% endblock %}

{% block content %}
    <input type="hidden" name="action" value="qarr/reviews/save-entry">
    <input type="hidden" name="reviewId" value="{{ entry.id }}">
    <input type="hidden" name="productTypeId" value="{{ entry.productTypeId }}">
    <input type="hidden" name="productId" value="{{ entry.productId }}">

    {% if entry.displayId %}
        <input type="hidden" name="displayId" value="{{ entry.displayId }}">
    {% endif %}

    {% set answers = entry.getAnswers() %}

    <div class="primary-meta">
        <div class="status-badge status-{{ entry.status }}">
            <span>{{ entry.status }}</span>
        </div>

        <div class="created-date">
            <span>{{ 'Submitted on'|t('qarr') }} {{ entry.dateCreated |date() }}</span>
        </div>
    </div>

    <div class="panel feedback-panel {% if answers is defined and answers %}has-answers{% endif %}">

        <div class="panel-wrapper">
            <p class="large-text"><span>{{ entry.question }}</span></p>
        </div>

        <div class="panel-actions">
            <div class="panel-progress"></div>
            {#{% if not feedbackResponse %}#}
                {#<a href="#" class="btns btn-rounded btn-gray btn-icon" id="reply-to-feedback-btn" data-type="question" data-element-id="{{ entry.id }}" data-author-id="{{ currentUser.id }}">#}
                    {#<span class="icon"><i class="fa fa-reply"></i></span>#}
                    {#<span class="btn-text">{{ 'Reply to feedback'|t('qarr') }}</span>#}
                    {#<span class="loader"></span>#}
                {#</a>#}
            {#{% endif %}#}

            <div class="pull-right">
                <a href="#" class="btns btn-rounded btn-green btn-icon update-status-btn" data-type="questions" data-status="approved" data-element-id="{{ entry.id }}">
                    <span class="icon"><i class="fa fa-thumbs-up"></i></span>
                    <span class="btn-text">{{ 'Approve'|t('qarr') }}</span>
                    <span class="loader"></span>
                </a>
                <a href="#" class="btns btn-rounded btn-red btn-icon update-status-btn" data-type="questions" data-status="rejected" data-element-id="{{ entry.id }}">
                    <span class="icon"><i class="fa fa-thumbs-down"></i></span>
                    <span class="btn-text">{{ 'Reject'|t('qarr') }}</span>
                    <span class="loader"></span>
                </a>
            </div>
            {% if currentUser.can('qarr:deleteQuestions') %}
            <div class="remove-entry">
                <a href="#" class="btns btn-rounded btn-gray btn-icon delete-entry" data-type="questions" data-element-id="{{ entry.id }}">
                    <span class="icon"><i class="fal fa-trash-alt"></i></span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>

    {% if answers %}
        <div class="panel panel-answers">
            <div class="panel-wrapper">
                <div class="panel-header">
                    <h2>{{ 'Answers'|t('qarr') }}</h2>
                    <span class="header-icon"><i class="fa fa-comments"></i></span>
                </div>
                <div class="panel-body">
                {% for answer in answers %}
                    {% set answerAuthor = answer.getAuthor() %}
                    <div class="panel-item answer-item" id="answer-item-{{ answer.id }}" data-parent-id="{{ entry.id }}" data-id="{{ answer.id }}">
                        <div class="panel-item-status status-{{ answer.status }}"><span>{{ answer.status }}</span></div>
                        <div class="large-text">{{ answer.answer }}</div>
                        <div class="panel-meta">By {{ answerAuthor.friendlyName }} on {{ answer.dateCreated |date() }} {% if answer.anonymous %}({{ 'Requested to post anonymously'|t('qarr') }}){% endif %}</div>
                        {#{{ d(answer) }}#}
                        <div class="panel-actions">
                            <a href="#" class="action-btn btn-approve" data-action="approved">{{ 'Approve'|t('qarr') }}</a><span class="qarr-pipe">/</span>
                            <a href="#" class="action-btn btn-reject" data-action="rejected">{{ 'Reject'|t('qarr') }}</a>
                            <a href="#" class="action-btn btn-delete" data-action="deleted">{{ 'Delete'|t('qarr') }}</a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if fieldLayoutTabs is defined is not empty %}
        <div class="panel panel-fields panel-blue">
            <div class="panel-wrapper">
                <div class="panel-header">
                    <h2>{{ 'Additional Info'|t('qarr') }}</h2>
                    <span class="header-icon"><i class="fa fa-clipboard-list"></i></span>
                </div>
                <div class="panel-body">
                    {% for tab in fieldLayoutTabs %}
                        {% set fields = tab.getFields() %}
                        {% for field in fields %}
                            {% set type = field|getClass %}
                            {% set allowed = craft.qarr.allowedFields %}
                            {% if type in allowed %}
                                {% set value = entry.getFieldValue(field.handle) %}

                                {% if value is iterable %}
                                    {% set value = craft.qarr.getArrayValue(value.options) %}
                                {% endif %}


                                {% if value and value != '' %}
                                    <div class="panel-item">
                                        <div class="qarr-field-readonly">
                                            <label>{{ field.name }}</label>
                                            <div class="field-value">{{ value }}</div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if correspondences %}
        <div class="panel panel-correspondence panel-blue">
            <div class="panel-wrapper">
                <div class="panel-header">
                    <h2>{{ 'Email Correspondence'|t('qarr') }}</h2>
                    <span class="header-icon"><i class="fa fa-mail-bulk"></i></span>
                </div>
                <div class="panel-body">
                    {% for correspondence in correspondences %}
                        <div class="panel-item">
                            <span class="panel-meta">{{ 'Sent on'|t('qarr') }} {{ correspondence.dateCreated |date() }}</span>
                            <p>{{ correspondence.email }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block details %}
    {% set user = craft.app.users.getUserByUsernameOrEmail(entry.emailAddress) %}
    {% if user %}
        {% set customer = craft.commerce.customers.getCustomerByUserId(user.id) %}
    {% endif %}

    <div id="settings">

        {% if entry.abuse %}
            <div class="meta abuse-reported-meta">
                <h2><i class="fa fa-exclamation-circle"></i>{{ 'Abuse Reported'|t('qarr') }}</h2>

                <div class="meta-actions">
                    <a href="#" class="btns btn-rounded btn-on-red-bg" data-entry-id="{{ entry.id }}" data-type="questions">
                        <span class="link-text">{{ 'Clear' |t('qarr') }}</span>
                    </a>
                </div>
            </div>
        {% endif %}

        <div class="meta centered guest-meta white-bg">
            <div class="guest-badge">
                <span>{{ entry.fullName |first }}</span>
            </div>
            <div class="meta-item">
                <h2>{{ entry.fullName }}</h2>
                <div class="meta-label">{{ entry.emailAddress }}</div>
                {% if customer is defined and customer %}
                    <div class="badge-verified"><i class="fa fa-badge-check"></i> <span>Verified Customer</span></div>
                {% endif %}
            </div>

            <div class="meta-actions">
                <a href="#" class="btns btn-rounded btn-white" id="reply-email-btn" data-entry-id="{{ entry.id }}" data-type="reviews">
                    <span class="spinner hidden"></span>
                    <span class="link-text">{{ 'Reply by email' |t('qarr') }}</span>
                </a>
            </div>

            <div class="loader-container">
                {% include 'qarr/_includes/icons/_wave-loader' ignore missing %}
            </div>
        </div>

        <div class="meta purple-bg icon-right product-meta">
            <div class="meta-item single">
                <div class="meta-label">Product</div>
                <h2>{{ entry.product.title }}</h2>
            </div>

            <div class="meta-actions">
                <a href="{{ entry.product.getCpEditUrl() }}" target="_blank" class="btns btn-link btn-in-purple">{{ 'Edit Product'|t('qarr') }}</a>
            </div>

            <div class="icon">
                <i class="fal fa-tags"></i>
            </div>
        </div>

        <div class="meta muted submission-details">
            <div>IP Address: <span>{{ entry.ipAddress }}</span></div>
            <div>Browser: <span>{{ entry.userAgent |browser }}</span></div>
        </div>
    </div>
{% endblock %}