{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\Qarr") %}
{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\Questions") %}

{% set bodyClass = 'qarr qarr-edit' %}
{% set pluginCpUrl = url('qarr') %}
{% set selectedSubnavItem = "questions" %}
{% set currentPage = craft.app.request.getSegment(2) %}

{% block header %}
    {% include 'qarr/_includes/header' ignore missing %}
{% endblock %}

{% block content %}
    <input type="hidden" name="action" value="qarr/reviews/save-entry">
    <input type="hidden" name="reviewId" value="{{ entry.id }}">

    {% if entry.displayId %}
        <input type="hidden" name="displayId" value="{{ entry.displayId }}">
    {% endif %}

    {% set answers = entry.getAnswers() %}

    {% include 'qarr/_elements/element-status-and-postdate' ignore missing with {entry: entry} %}

    <div class="panel feedback-panel {% if answers is defined and answers %}has-answers{% endif %}">

        <div class="panel-wrapper">
            <p class="large-text"><span>{{ entry.question }}</span></p>
        </div>

        <div class="panel-actions">
            <div class="panel-progress"></div>

            <div class="pull-right">
                <a href="#" class="btns btn-rounded btn-green btn-icon update-status-btn" data-type="questions" data-status="approved" data-element-id="{{ entry.id }}">
                    <span class="icon"><i class="fa fa-thumbs-up"></i></span>
                    <span class="btn-text">{{ 'Approve'|t('qarr') }}</span>
                    <span class="loader"></span>
                </a>
                <a href="#" class="btns btn-rounded btn-red btn-icon update-status-btn" data-type="questions" data-status="rejected" data-element-id="{{ entry.id }}">
                    <span class="icon"><i class="fa fa-thumbs-down"></i></span>
                    <span class="btn-text">{{ 'Reject'|t('qarr') }}</span>
                    <span class="loader"></span>
                </a>
            </div>
            {% if currentUser.can('qarr:deleteQuestions') %}
            <div class="remove-entry">
                <a href="#" class="btns btn-rounded btn-gray btn-icon delete-entry" data-type="questions" data-element-id="{{ entry.id }}">
                    <span class="icon"><i class="fal fa-trash-alt"></i></span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>

    {% if answers %}
        <div class="panel panel-answers">
            <div class="panel-wrapper">
                <div class="panel-header">
                    <h2>{{ 'Answers'|t('qarr') }}</h2>
                    <span class="header-icon"><i class="fa fa-comments"></i></span>
                </div>
                <div class="panel-body">
                {% for answer in answers %}
                    {% set answerAuthor = answer.getAuthor() %}
                    <div class="panel-item answer-item" id="answer-item-{{ answer.id }}" data-parent-id="{{ entry.id }}" data-id="{{ answer.id }}">
                        <div class="panel-item-status status-{{ answer.status }}"><span>{{ answer.status }}</span></div>

                        <div class="response-meta">
                            {% if answer.anonymous %}
                                <span class="response-icon tippy" data-tippy-content="Posted as anonymous"><i class="fal fa-user-shield"></i></span>
                            {% endif %}
                            {% if answer.abuse %}
                                <span class="response-icon tippy" data-tippy-content="Abuse reported"><i class="fal fa-times-hexagon"></i></span>
                            {% endif %}
                            {% if answer.isHelpful %}
                                <span class="response-icon tippy" data-tippy-content="Marked as helpful"><i class="fal fa-trophy"></i></span>
                            {% endif %}
                        </div>

                        <div class="large-text">{{ answer.answer }}</div>
                        <div class="panel-meta">By {{ answerAuthor.friendlyName }} on {{ answer.dateCreated |date() }} {% if answer.anonymous %}({{ 'Requested to post anonymously'|t('qarr') }}){% endif %}</div>
                        <div class="panel-actions">
                            <a href="#" class="action-btn btn-approve" data-action="approved">{{ 'Approve'|t('qarr') }}</a><span class="qarr-pipe">/</span>
                            <a href="#" class="action-btn btn-reject" data-action="rejected">{{ 'Reject'|t('qarr') }}</a>
                            <a href="#" class="action-btn btn-delete" data-action="deleted">{{ 'Delete'|t('qarr') }}</a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if fieldLayoutTabs is defined is not empty %}
        <div class="panel panel-fields panel-blue">
            <div class="panel-wrapper">
                <div class="panel-header">
                    <h2>{{ 'Additional Info'|t('qarr') }}</h2>
                    <span class="header-icon"><i class="fa fa-clipboard-list"></i></span>
                </div>
                <div class="panel-body">
                    {% for tab in fieldLayoutTabs %}
                        {% set fields = tab.getFields() %}
                        {% for field in fields %}
                            {% set type = field|getClass %}
                            {% set allowed = craft.qarr.allowedFields %}
                            {% if type in allowed %}
                                {% set value = entry.getFieldValue(field.handle) %}

                                {% if value is iterable %}
                                    {% set value = craft.qarr.getArrayValue(value.options) %}
                                {% endif %}

                                {% if value and value != '' %}
                                    <div class="panel-item">
                                        <div class="qarr-field-readonly">
                                            <label>{{ field.name }}</label>
                                            <div class="field-value">{{ value }}</div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if correspondences %}
        <div class="panel panel-correspondence panel-blue">
            <div class="panel-wrapper">
                <div class="panel-header">
                    <h2>{{ 'Email Correspondence'|t('qarr') }}</h2>
                    <span class="header-icon"><i class="fa fa-mail-bulk"></i></span>
                </div>
                <div class="panel-body">
                    {% for correspondence in correspondences %}
                        <div class="panel-item">
                            <span class="panel-meta">{{ 'Sent on'|t('qarr') }} {{ correspondence.dateCreated |date() }}</span>
                            <p>{{ correspondence.email }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block details %}
    <div id="settings">
        {% include 'qarr/_elements/element-abuse-reported' ignore missing with {entry: entry, type: 'questions'} %}
        {% include 'qarr/_elements/element-entry-author' ignore missing with {entry: entry, type: 'questions'} %}
        {% include 'qarr/_elements/element-entry-info' ignore missing with {entry: entry} %}
        {% include 'qarr/_elements/element-entry-audit' ignore missing with {entry: entry} %}
    </div>
{% endblock %}
