{% requirePermission 'qarr:accessCampaigns' %}

{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\UI") %}
{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\ElementIndex") %}
{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\ElementStatic") %}

{% set title = "Campaigns"|t('qarr') %}
{% set currentPage = craft.app.request.getSegment(2) %}
{% set bodyClass = 'qarr-global qarr-elementindex qarr-static-elements qarr-campaigns' %}
{% set selectedSubnavItem = "campaigns" %}
{% set selectedSidebarItem = "direct" %}

{% if not craft.craftify %}
    {% block header %}
        {% include 'qarr/_ui/page-header' ignore missing %}
    {% endblock %}
{% endif %}

{% block sidebar %}
    {% include 'qarr/campaigns/_includes/sidebar' ignore missing %}
{% endblock %}

{% block content %}

    <div class="buttons">
        <div class="btngroup">
            <div class="qarr-btn menubtn">
                <span class="btn-text">{{ "New Direct Link"|t('qarr') }}</span>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="{{ url('qarr/campaigns/direct/new?elementType=entry') }}">{{ "Link for entry"|t('app') }}</a></li>
                    <li><a href="{{ url('qarr/campaigns/direct/new?elementType=product') }}">{{ "Link for product"|t('app') }}</a></li>
                </ul>
            </div>
        </div>
        <div class="spinner hidden"></div>
    </div>


    {% if directLinks|length %}
        <div class="elements-list">

            {% for link in directLinks %}
                {% set status = link.enabled ? 'enabled' : 'disabled' %}
                <div class="element-item">

                    <div class="element-header w-2/3">
                        <a href="{{ url('qarr/campaigns/direct/' ~ link.id) }}" class="block"><h2>Link for {{ link.user.fullName }}</h2></a>
                        <div class="inline-block font-mono bg-white py-1 px-2 rounded mt-2 text-xs">{{ siteUrl }}qarr/direct/{{ link.slug }}</div>
                        {% if link.completed %}
                            {% set result = craft.app.elements.getElementById(link.options['submissionId']) %}
                            <div class="mt-2 text-xs opacity-75">{{ 'User has submitted a'|t('qarr') }} {{ link.type }}. <a href="{{ result.url }}" target="_blank">{{ 'You can view it here'|t('qarr') }}</a></div>
                        {% endif %}
                    </div>

                    <div class="element-status {{ status }} ">
                        <div class="qarr-tag"><span>{{ status }}</span></div>
                    </div>

                </div>
            {% endfor %}
        </div>
    {% else %}
        <div id="noelements" class="text-gray-600 mt-6">
            {{ "No direct links exist yet."|t('qarr') }}
        </div>
    {% endif %}
{% endblock %}