{% requirePermission 'qarr:accessCampaigns' %}

{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\UI") %}
{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\ElementIndex") %}
{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\ElementStatic") %}

{% set title = "Campaigns"|t('qarr') %}
{% set currentPage = craft.app.request.getSegment(2) %}
{% set bodyClass = 'qarr-global qarr-elementindex qarr-static-elements qarr-campaigns' %}
{% set selectedSubnavItem = "campaigns" %}
{% set selectedSidebarItem = "direct" %}


{% block header %}
    {% include 'qarr/_ui/page-header' ignore missing %}
{% endblock %}

{% block sidebar %}
    {% include 'qarr/campaigns/_includes/sidebar' ignore missing %}
{% endblock %}

{% block content %}

    <div class="buttons">
        <div class="btngroup">
            <div class="qarr-btn menubtn">
                <span class="icon mr-3 font-bold">+</span>
                <span class="btn-text">{{ "New Direct Link"|t('qarr') }}</span>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="{{ url('qarr/campaigns/direct/new?elementType=entry') }}">{{ "Link for entry"|t('app') }}</a></li>
                    <li><a href="{{ url('qarr/campaigns/direct/new?elementType=product') }}">{{ "Link for product"|t('app') }}</a></li>
                </ul>
            </div>
        </div>
        <div class="spinner hidden"></div>
    </div>


    {% if directLinks|length %}
        <div class="elements-list">

            {% for link in directLinks %}
                {% set status = link.enabled ? 'enabled' : 'disabled' %}
                <div class="element-item">

                    <div class="element-header w-1/2">
                        <a href="{{ url('qarr/campaigns/direct/' ~ link.id) }}"><h2>{{ link.title }}</h2></a>
                        <div class="element-handle">
{#                                <span>{{ rule.handle }}</span>#}
{#                                <svg xmlns="http://www.w3.org/2000/svg" class="fill-current" width="10" height="10" viewBox="0 0 20 20"><path d="M6 6V2c0-1.1.9-2 2-2h10a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-4v4a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8c0-1.1.9-2 2-2h4zm2 0h4a2 2 0 0 1 2 2v4h4V2H8v4zM2 8v10h10V8H2z"/></svg>#}
                        </div>
                    </div>

{#                        <div class="element-body text-center">#}
{#                            <h3 class="font-normal text-gray-500">{{ 'Flagged Entries'|t('qarr') }}</h3>#}
{#                            <span class="block font-mono element-count">#}
{#                                {{ craft.qarrRules.getFlaggedCountByRuleId(rule.id) }}#}
{#                            </span>#}
{#                        </div>#}

                    <div class="element-status {{ status }} ">
                        <div class="qarr-tag"><span>{{ status }}</span></div>
                    </div>

                </div>
            {% endfor %}
        </div>
    {% else %}
        <div id="noelements" class="text-gray-600 mt-6">
            {{ "No direct links exist yet."|t('qarr') }}
        </div>
    {% endif %}
{% endblock %}