{% requirePermission 'qarr:accessCampaigns' %}

{% extends "_layouts/cp" %}

{% set title = "Direct Links"|t('qarr') %}
{% set selectedSubnavItem = "campaigns" %}
{% set selectedSidebarItem = "direct" %}
{% set bodyClass = "qarr qarr-element-static" %}

{% block actionButton %}
    <div id="new-btn-container" class="btngroup submit">
        <div class="btn submit menubtn">{{ 'Direct Links'|t('qarr') }}</div>
        <div class="menu" data-align="right">
            <ul>
                <li>
                    <a href="{{ url('qarr/campaigns/direct/new?elementType=entry') }}">
                        {{ "Link for entry"|t('qarr') }}
                    </a>
                </li>
                <li>
                    <a href="{{ url('qarr/campaigns/direct/new?elementType=product') }}">
                        {{ "Link for product"|t('qarr') }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'qarr/campaigns/_includes/sidebar' ignore missing %}
{% endblock %}

{% block content %}

    <div class="field">

        {% include 'qarr/_elements/no-elements' ignore missing with {
            text: 'No direct links exist yet.'|t('qarr'),
            hidden: directLinks|length ? true : false
        } %}

        {% if directLinks|length %}
            <table id="links" class="data fullwidth collapsible">
                <thead>
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Link</th>
                    <th scope="col">Type</th>
                    <th scope="col">Completed</th>
                    <th scope="col">Enabled</th>
                    <th scope="thin"></th>
                </tr>
                </thead>
                <tbody>
                {% for link in directLinks %}
                    {% set enabled = link.enabled ? 'Yes' : 'No' %}

                    <tr data-id="{{ link.id }}" data-name="{{ 'Link for'|t('qarr') }} {{ link.user.fullName }}">
                        <th scope="row" data-title="{{ 'User'|t('qarr') }}"><a href="{{ url('qarr/campaigns/direct/' ~ link.id) }}">{{ link.user.fullName }}</a></th>
                        <td scope="code" data-title="{{ 'Link'|t('qarr') }}">{{ siteUrl }}qarr/direct/{{ link.slug }}</td>
                        <td scope="row" data-title="{{ 'Type'|t('qarr') }}">{{ link.type|capitalize }}</td>
                        <td scope="row" data-title="{{ 'Completed'|t('qarr') }}">
                            {% if link.completed %}
                                {% set result = craft.app.elements.getElementById(link.options['submissionId']) %}
                                {{ 'Yes'|t('qarr') }}, <a href="{{ result.url }}" target="_blank">{{ 'view here'|t('qarr') }}</a>
                            {% else %}
                                {{ 'No'|t('qarr') }}
                            {% endif %}
                        </td>
                        <td scope="row" data-title="{{ 'Enabled'|t('qarr') }}">{{ enabled }}</td>
                        <td scope="thin"><a class="delete icon" title="{{ 'Delete'|t('app') }}"></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock %}

{% js %}
    var adminTable = new Craft.AdminTable({
    tableSelector: '#links',
    noItemsSelector: '#noelements',
    deleteAction: 'qarr/campaigns/direct-links/delete',
    });
{% endjs %}