<form method="post" accept-charset="UTF-8">
    {{ csrfInput() }}
    {{ actionInput('qarr/reviews/save') }}
    {{ redirectInput('review-posted') }}

    <input type="hidden" name="elementId" value="{{ element.id }}">
    <input type="hidden" name="currentUser" value="{{ user.id }}">
    <input type="hidden" name="directLinkId" value="{{ model.id }}">

    <div>
        <label>Full Name</label>
        <input type="text" name="fields[fullName]" placeholder="Full Name" value="{{ user.fullName }}" readonly>
    </div>

    <div>
        <label>Email Address</label>
        <input type="text" name="fields[emailAddress]" placeholder="Email Address" value="{{ user.email }}" readonly>
    </div>

    <div>
        <label>Rating (1-5)</label>
        <input type="number" min="1" max="5" name="fields[rating]" value="1" placeholder="Rating (1-5)" required>
    </div>

    <div>
        <label>Feedback</label>
        <textarea name="fields[feedback]" cols="30" rows="10" placeholder="Your feedback"></textarea>
    </div>

    <button class="submit">Submit</button>
</form>