<nav id="sources">
    <ul>
        {% for key, source in sources %}
            {% if source.heading is defined %}
                <li class="heading"><span>{{ source.heading|t('qarr') }}</span></li>
            {% else %}
                <li {% if source.key != '*' %}class="group-item"{% endif %}>
                    <a data-label="{{ source.label }}" data-key="{{ source.key is defined ? source.key : key }}" {%- if source.defaultSort is defined %}{% set defaultSort = source.defaultSort %} data-default-sort="{{ defaultSort is iterable ? defaultSort|join(':') : defaultSort }}"{% endif %}{%- if source.data is defined -%}{% for dataKey, dataVal in source.data %} data-{{ dataKey }}="{{ dataVal }}"{% endfor %}{%- endif %}>
                        <span class="source-text">{{- source.label -}}</span>
                        {% if source.id is defined %}
                            {% set count = craft.qarr.getCount(elementType, '*', null, source.type, source.id) %}
                            <span class="badge-count">{{ count is defined and count > 0 ? count : '' }}</span>
                        {% endif %}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>

<div class="button-group">
    <a class="customize-sources"><span class="settings icon"></span></a>
    <a class="configure-elements btn secondary fullwidth" title="{{ 'Configure Elements'|t('qarr') }}">{{ 'Configure Elements'|t('qarr') }}</a>
</div>
