<div class="element-block element-details">
    <div class="element-object">
        <a href="{{ entry.url }}"><h2 class="element-title">{{ entry.title }}</h2></a>
        <span class="posted-date">{{ 'Posted on'|t('qarr') }} <time datetime="{{ entry.dateCreated |date() }}">{{ entry.dateCreated |date() }}</time></span>
    </div>

    <div class="feedback">
        {% if entry.flags or entry.abuse %}
            <div class="element-flags">
                {% include 'qarr/_elements/element-flags' ignore missing with { entry: entry, type: type } %}
            </div>
        {% endif %}

        {% set flaggedWords = flaggedWords(entry.flags) %}
        {% if flaggedWords %}
            {% set feedback = feedback|occurrence(flaggedWords) %}
        {% else %}
            {% set feedback = feedback %}
        {% endif %}

        <p class="feedback-text text-sm">{{ feedback |raw }}</p>

        {% include 'qarr/_elements/element-abuse' ignore missing with { entry: entry, type: type } %}
    </div>

    {% if reply and type == 'reviews' %}
        <div class="response relative response-container bg-gray-100 rounded p-4 mt-4">
            <span class="reply-date response-author text-gray-500 font-medium text-xs tracking-wide"><strong>{{ reply.author }}</strong> {{ 'replied on'|t('qarr') }} <time datetime="{{ reply.dateCreated |date() }}">{{ reply.dateCreated |date() }}</time></span>
            <span class="response-wrapper block pt-4 text-sm leading-relaxed">{{ reply.reply }}</span>
        </div>
    {% endif %}

    {% if reply and type == 'questions' %}
        <div class="response mt-6">
            <div class="response-wrapper text-xs text-gray-600">

                {% if reply is iterable %}
                    {% set pending = [] %}
                    {% set approved = [] %}
                    {% set rejected = [] %}
                    {% set abuse = null %}

                    {% for answer in reply %}
                        {% if answer.status == 'pending' %} {% set pending = pending|merge([answer]) %} {% endif %}
                        {% if answer.status == 'approved' %} {% set approved = approved|merge([answer]) %} {% endif %}
                        {% if answer.status == 'rejected' %} {% set rejected = rejected|merge([answer]) %} {% endif %}
                        {% if answer.abuse %}{% set abuse = true %}{% endif %}
                    {% endfor %}

                    {{ reply|length }} answers
                    {% if pending|length > 0 %}
                        | <a href="{{ entry.url }}" class="qarr-btn-link">{{ pending|length }} pending approval</a>
                    {% endif %}
                    {% if approved|length > 0 %}
                        | {{ approved|length }} approved
                    {% endif %}
                    {% if rejected|length > 0 %}
                        | {{ rejected|length }} rejected
                    {% endif %}

                    {% if abuse %}
                        <div class="abuse-reported relative mt-2">
                            <div class="pulse round warning mr-2"></div>
                            <span class="italic text-xs">Abuse reported on one of the answers</span>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>