<div class="block-field answer-item {{ answer.status }}" id="answer-item-{{ answer.id }}" data-parent-id="{{ entry.id }}" data-id="{{ answer.id }}" data-status="{{ answer.status }}">
{#    {% include 'qarr/_elements/element-status' ignore missing with { entry: answer } %}#}

    <div class="answer-title">{{ 'Answered by'|t('qarr') }} {{ answer.author.friendlyName }} - {{ answer.dateCreated |date() }} {% if answer.anonymous %}({{ 'Requested to post anonymously'|t('qarr') }}){% endif %}</div>

    <div class="response-meta">
        {% if answer.anonymous %}
            <span class="response-icon tippy" data-tippy-content="Posted as anonymous"><i class="fal fa-user-shield"></i></span>
        {% endif %}
        {% if answer.abuse %}
            <span class="response-icon tippy" data-tippy-content="Abuse reported"><i class="fal fa-times-hexagon"></i></span>
        {% endif %}
        {% if answer.isHelpful %}
            <span class="response-icon tippy" data-tippy-content="Marked as helpful"><i class="fal fa-trophy"></i></span>
        {% endif %}
    </div>

    <p class="answer-body">{{ answer.answer }}</p>

    <div class="block-actions">
        <div class="btngroup">
            <div class="action-btn action-approve btn submit" data-type="questions" data-status="approved" data-action-type="status" data-element-id="1590">
                {{ 'Approve'|t('qarr') }}
            </div>

            <div class="action-btn action-reject btn secondary" data-type="questions" data-status="rejected" data-action-type="status" data-element-id="1590">
                {{ 'Reject'|t('qarr') }}
            </div>
        </div>

        <div class="action-btn action-delete btn dashed" data-type="reviews" data-action-type="delete" data-element-id="1590">
            {{ 'Delete'|t('qarr') }}
        </div>
    </div>
</div>