<ul id="sources">
    {% for key, source in sources %}
        {% if source.heading is defined %}
            <li class="heading"><span>{{ source.heading|t('qarr') }}</span></li>
        {% else %}
            <li {% if source.key != '*' %}class="group-item"{% endif %}>
                <a data-label="{{ source.label }}" data-key="{{ source.key is defined ? source.key : key }}" {%- if source.defaultSort is defined %}{% set defaultSort = source.defaultSort %} data-default-sort="{{ defaultSort is iterable ? defaultSort|join(':') : defaultSort }}"{% endif %}{%- if source.data is defined -%}{% for dataKey, dataVal in source.data %} data-{{ dataKey }}="{{ dataVal }}"{% endfor %}{%- endif %}>
                    <span class="source-text">{{- source.label -}}</span>
                    {% if source.id is defined %}
                        {% set count = craft.qarr.getCount('reviews', '*', null, source.type, source.id) %}
                        <span class="badge-count">{{ count is defined and count > 0 ? count : '' }}</span>
                    {% endif %}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>

{% if customizableSources %}
    <a class="customize-sources" title="{{ 'Customize sources'|t('qarr') }}">{{ 'Customize Sidebar'|t('qarr') }}</a>
{% endif %}

<div class="elements-data">
    <h3>{{ 'Submission Stats'|t('qarr') }}</h3>
    <div class="ed-item">
        <span class="count-badge pending-reviews">{{ craft.qarr.getCount('reviews', 'pending') }}</span>
        <span>{{ 'Pending'|t('qarr') }}</span>
        <span class="status pending"></span>
    </div>
    <hr>
    <div class="ed-item">
        <span class="count-badge approved-reviews">{{ craft.qarr.getCount('reviews', 'approved') }}</span>
        <span>{{ 'Approved'|t('qarr') }}</span>
        <span class="status approved"></span>
    </div>
    <hr>
    <div class="ed-item">
        <span class="count-badge rejected-reviews">{{ craft.qarr.getCount('reviews', 'rejected') }}</span>
        <span>{{ 'Rejected'|t('qarr') }}</span>
        <span class="status rejected"></span>
    </div>
</div>