<div class="element-block element-details">

    {% if flags or abuse %}
        <div class="pulse round warning flagged-indicator"></div>
    {% endif %}

    <div class="element-object">
        <a href="{{ entryUrl }}"><h2 class="element-title">{{ element }}</h2></a>
        <span class="posted-date"><time datetime="{{ datePosted.date }}">{{ datePosted.date |date() }}</time></span>
    </div>

    <div class="feedback">
        {% set flaggedWords = flaggedWords(flags) %}
        {% if flags or abuse %}
            <div class="flags-container">
                {% for flag in flags %}
                    <div class="flagged-item flagged-{{ flag.rule.handle }}">
                        <i class="fal fa-{{ flag.rule.icon }}"></i>
                        <span>{{ flag.rule.name }}</span>
                    </div>
                {% endfor %}

                {% if abuse %}
                    <div class="flagged-item">
                        <i class="fal fa-exclamation"></i>
                        <span>{{ 'Abuse reported'|t('qarr') }}</span>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if flaggedWords %}
            {% set feedback = feedback|occurrence(flaggedWords)  %}
        {% endif %}

        <p class="feedback-text">{{ feedback |raw }}</p>

{#        {% if flags %}#}
{#            <a href="{{ entryUrl }}" class="feedback-instructions">{{ 'Click to edit review and apply masking on flagged words'|t('qarr') }}</a>#}
{#        {% endif %}#}

    </div>

    {% if reply and type == 'review' %}
        <div class="response">
            <span class="reply-date"><strong>{{ reply.author }}</strong> {{ 'replied on'|t('qarr') }} <time datetime="{{ reply.dateCreated.date }}">{{ reply.dateCreated |date() }}</time></span>
            <div class="response-wrapper">
                <p>{{ reply.reply }}</p>
            </div>
        </div>
    {% endif %}

    {% if reply and type == 'question' %}
        <div class="response">
            <div class="response-wrapper">

            {% if reply is iterable %}
                {% set pending = [] %}
                {% set approved = [] %}
                {% set rejected = [] %}
                {% set abuse = null %}

                {% for answer in reply %}
                    {% if answer.status == 'pending' %} {% set pending = pending|merge([answer]) %} {% endif %}
                    {% if answer.status == 'approved' %} {% set approved = approved|merge([answer]) %} {% endif %}
                    {% if answer.status == 'rejected' %} {% set rejected = rejected|merge([answer]) %} {% endif %}
                    {% if answer.abuse %}{% set abuse = true %}{% endif %}
                {% endfor %}

                {{ reply|length }} answers
                {% if pending|length > 0 %}
                    | {{ pending|length }} pending approval
                {% endif %}
                {% if approved|length > 0 %}
                   | {{ approved|length }} approved
                {% endif %}
                {% if rejected|length > 0 %}
                    | {{ rejected|length }} rejected
                {% endif %}

                {% if abuse %}
                    <br>
                    <span class="abuse-reported">Abuse reported on one of the answers</span>
                {% endif %}
            {% endif %}
            </div>
        </div>
    {% endif %}
</div>