<div class="element-block element-info">
    <div class="item-column user-info">
        <div class="qarr-avatar qarr-avatar-square qarr-avatar-default">
            <img src="{{ author.avatarUrl }}?s=200&amp;d=retro&amp;r=g" alt="{{ author.fullName }}"></div>
        {% if author.user %}
            <div class="user-name">{{ author.user.fullName }}</div>
        {% else %}
            <div class="user-name">{{ author.fullName }}</div>
        {% endif %}
        <div class="user-email">{{ author.emailAddress }}</div>
        <div class="user-location">
            {% if geolocation %}
                {% if geolocation is defined and geolocation.country_name %}
                    <span>{{ geolocation.country_name }}, {{ geolocation.region }}</span>
                {% else %}
                    {{ 'Location Unknown'|t('qarr') }}
                {% endif %}
            {% else %}
                {{ 'Location Unknown'|t('qarr') }}
            {% endif %}
        </div>
    </div>

    {% if type == 'reviews' %}
        {% if entry.rating is defined %}
            <div class="qarr-rating">
                {% for i in 1..5 %}
                    {% if entry.rating >= i %}
                        <span class="qarr-rating-star active"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/></svg></span>
                    {% else %}
                        <span class="qarr-rating-star"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/></svg></span>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}

    {% include 'qarr/_elements/element-status' ignore missing with { entry: entry } %}

{#    <div class="item-column element-status {{ entry.status }} {% if entry.status == 'pending' %}pulse{% endif %}">#}
{#        <div class="qarr-tag">#}
{#            <span>{{ entry.status }}</span>#}
{#        </div>#}
{#    </div>#}
</div>