<div class="relative response-container bg-gray-100 rounded p-6 mt-6"
    id="feedback-response-{{ response.id }}"
    data-element-id="{{ response.elementId }}"
    data-id="{{ response.id }}"
    data-reply="{{ response|e }}">

    <div class="response-wrapper">
        <div class="response-author text-gray-500 font-medium text-xs tracking-wide">
            <div>{{ response.author.fullName }} {{ 'responded'|t('qarr') }} -
                <span>{{ response.dateCreated |date() }}</span></div>
            {% if not response.dateCreated|date() is same as(response.dateUpdated|date()) %}
                <div class="last">{{ 'Updated on'|t('qarr') }} <span>{{ response.dateUpdated |date() }}</span></div>
            {% endif %}
        </div>
        <span class="response-text block py-4 text-lg font-light">{{ response }}</span>
    </div>

    <div class="response-actions">
        <a href="#" class="qarr-btn-link" id="edit-feedback-btn">{{ 'Edit'|t('qarr') }}</a>
        <span class="text-gray-400">|</span>
        <a href="#" class="qarr-btn-link" id="delete-feedback-btn">{{ 'Remove'|t('qarr') }}</a>
    </div>
</div>

{% js %}
    new FeedbackResponse($('.response'));
{% endjs %}