{% import "qarr/_includes/macros/_buttons" as buttons %}

{% include 'qarr/_elements/no-elements' ignore missing with {
    text: 'There is no email correspondence.'|t('qarr'),
    hidden: correspondences|length ? true : false
} %}

{% for correspondence in correspondences %}

    <h2>{{ 'Sent on'|t('qarr') }} {{ correspondence.dateCreated |date() }}</h2>
    <h2></h2>

    <table class="data fullwidth fixed-layout">
        <tbody>
        <tr>
            <th class="light">{{ 'Subject'|t('qarr') }}</th>
            <td>{{ correspondence.subject }}</td>
        </tr>
        <tr>
            <th class="light">{{ 'Body'|t('qarr') }}</th>
            <td><a href="#" class="preview-email">Preview Email</a></td>
{#            <td>{{ correspondence.email |raw }}</td>#}
        </tr>
        </tbody>
    </table>
{% endfor %}

<hr>

<div class="block-actions">
    {{ buttons.basic({
        class: 'btn secondary',
        id: 'reply-email-btn',
        type: type,
        elementId: entry.id,
        text: 'Send Email'|t('qarr'),
    }) }}
</div>