<a href="{{ asset.url }}" class="inline-block field-asset tippy" data-tippy="{{ asset }}" target="_blank"><img src="{{ asset.url }}" alt="{{ asset }}" width="60"></a>
{#<div class="text-xs leading-tight">#}
{#    <div class="font-mono">{{ 'Filename'|t('qarr') }}</div>#}
{#    <div>{{ asset }}</div>#}
{#</div>#}