{% set attributes = {
    class: 'qarr-modal modal fitted prompt-modal',
    enctype: 'multipart/form-data',
} %}

<form {{ attr(attributes) }}>
    {{ csrfInput() }}
    <input type="hidden" name="elementId" value="{{ elementId }}">

    <div class="qarr-header">
        <span class="header-text">{{ "Leave Review"|t('qarr') }}</span>
    </div>

    <div class="qarr-body">

        {# Default Fields #}
        <div class="qarr-field has-value" id="fields-fullName">
            <label class="qarr-label" for="qarr-full-name" data-label="{{ 'Full Name'|t('qarr') }}" data-error-message="{{ 'Full Name is required'|t('qarr') }}">{{ 'Full Name'|t('qarr') }}</label>
            <input type="text" name="fields[fullName]" id="qarr-full-name" value="{{ currentUser ? currentUser.name : null }}">
        </div>

        <div class="qarr-field has-value" id="fields-emailAddress">
            <label class="qarr-label" for="qarr-email-address}" data-label="{{ 'Email Address'|t('qarr') }}" data-error-message="{{ 'Email Address is required'|t('qarr') }}">{{ 'Email Address'|t('qarr') }}</label>
            <input type="text" name="fields[emailAddress]" id="qarr-email-address" value="{{ currentUser ? currentUser.email : null }}">
        </div>

        <div class="qarr-field"id="field-rating">
            <span class="qarr-label">{{ 'Rating'|t('qarr') }}</span>

            <div class="qarr-star-container">
                {% for i in 1..5 %}
                    <div class="qarr-star {% if loop.first %}selected{% endif %}" data-star-count="{{ i }}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="fill-current" viewBox="0 0 20 20"><path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/></svg></div>
                {% endfor %}
                <input type="hidden" id="qarr-rating-input" name="fields[rating]" value="1">
            </div>
        </div>

        <div class="qarr-field" id="fields-feedback">
            <label for="qarr-feedback" class="qarr-label" data-label="{{ 'Your Feedback'|t('qarr') }}" data-error-message="{{ 'Your Feedback is required'|t('qarr') }}">{{ 'Your Feedback'|t('qarr') }}</label>
            <textarea name="fields[feedback]" cols="50" rows="10" id="qarr-feedback"></textarea>
        </div>

        {# Dynamic Fields #}
        {% if display is defined and display %}

        {% endif %}

    </div>

    <div class="qarr-footer">
        <input type="button" class="btn-modal cancel" value="{{ 'Cancel'|t('qarr') }}">
        <input type="submit" class="btn-modal submit" value="{{ 'Submit'|t('qarr') }}">
    </div>

</form>