<div class="qarr-entries-set" id="{{ random() }}">
{% for review in entries.all() %}
    <div class="qarr-entry-item">
        <div class="qarr-entry-meta">
            <div class="qarr-entry-name">{{ review.fullName }}</div>
            <div class="qarr-entry-posted-date">{{ review.dateCreated |date() }}</div>
            <div class="qarr-entry-stars">
                {% for i in 1..5 %}
                    <div class="qarr-entry-star {% if i <= review.rating %}active{% endif %}" data-star-count="{{ i }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88 83.91"><path d="M43.91 0a2 2 0 0 0-1.82 1.39l-9.42 29.19L2 30.52a2 2 0 0 0-1.17 3.62l24.85 18-9.54 29.15a2 2 0 0 0 3.08 2.23L44 65.44l24.78 18.08a2 2 0 0 0 3.08-2.23l-9.54-29.17 24.85-18a2 2 0 0 0-1.17-3.6l-30.67.06-9.43-29.2A2 2 0 0 0 43.91 0z" /></svg>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="qarr-entry-content">
            {{ review.feedback }}
        </div>

        {% if review.reply %}
            <div class="qarr-entry-admin-response">
                <div class="qarr-entry-ar-title">{{ 'Response'|t('qarr') }}</div>
                <span class="qarr-entry-ar-text">{{ review.reply }}</span>
            </div>
        {% endif %}

        <div class="qarr-entry-report-abuse-container">
            {% set reported = craft.qarr.getCookie('reported') %}
            {% if reported == review.id %}
                <span>{{ 'Reported'|t('qarr') }}</span>
            {% else %}
                <a href="#" class="qarr-entry-ra-btn" data-element-id="{{ review.id }}" data-type="reviews">{{ 'Report Abuse'|t('qarr') }}</a>
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="qarr-entry-empty">{{ 'No reviews yet, be the first to leave a review.'|t('qarr') }}</div>
{% endfor %}
</div>