{% set currentSettingsPage = craft.app.request.getSegment(3) %}

<nav id="settings-sidebar">
    <ul>
        <li>
            <a href="{{ url('qarr/settings') }}" class="{{ currentSettingsPage == null ? 'sel' }}">
                <span class="icon icon-mask">{{ (svg('infocircle', sanitize=true, namespace=true) ?: "<span data-icon='infocircle'></span>")|raw }}</span>
                <span class="label">{{ 'Info'|t('qarr') }}</span>
            </a>
        </li>

        <li>
            <a href="{{ url('qarr/settings/utilities') }}" class="{{ currentSettingsPage == 'utilities' ? 'sel' }}">
                <span class="icon icon-mask">{{ (svg('tool', sanitize=true, namespace=true) ?: "<span data-icon='tool'></span>")|raw }}</span>
                <span class="label">{{ 'Utilities'|t('qarr') }}</span>
            </a>
        </li>
    </ul>
</nav>
