{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\UI") %}
{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\Element") %}

{% set bodyClass = 'qarr-global qarr-element-edit' %}
{% set pluginCpUrl = url('qarr') %}
{% set selectedSubnavItem = "reviews" %}
{% set currentPage = craft.app.request.getSegment(2) %}

{% block header %}
    {% include 'qarr/_ui/page-header' ignore missing %}
{% endblock %}

{% block content %}
    <input type="hidden" name="action" value="qarr/reviews/save-entry">
    <input type="hidden" name="reviewId" value="{{ entry.id }}">

    {% if entry.displayId %}
        <input type="hidden" name="displayId" value="{{ entry.displayId }}">
    {% endif %}

    <div class="block-element {% if entry.reply %}has-response{% endif %}">

        <div class="block-header flex-container mb-2">
            <h2>{{ 'Feedback'|t('qarr') }}</h2>
            <span class="ml-auto">
                {% include 'qarr/_elements/element-postdate' ignore missing with {entry: entry} %}
            </span>
        </div>

        <div class="block-body">
            <div class="feedback">
                {% include 'qarr/_elements/element-flags' ignore missing with { entry: entry, type: 'reviews' } %}

                {% set flaggedWords = flaggedWords(entry.flags) %}
                {% if flaggedWords %}
                    {% set feedback = entry.feedback|occurrence(flaggedWords) %}
                {% else %}
                    {% set feedback = entry.feedback %}
                {% endif %}

                <p class="feedback-text text-lg">{{ feedback |raw }}</p>
            </div>

            <div class="response">
                {% if entry.reply %}
                    {% include 'qarr/_elements/element-review-reply' ignore missing with {
                        response: entry.reply,
                        entry: entry
                    } %}
                {% endif %}
            </div>

            <div class="mt-6 mb-4">
                <button class="qarr-btn {% if entry.reply %}opacity-50 cursor-not-allowed{% endif %}"
                    id="reply-to-feedback"
                    data-type="review"
                    data-element-id="{{ entry.id }}"
                    {% if entry.reply %}disabled{% endif %}>
                    <span><svg xmlns="http://www.w3.org/2000/svg" class="align-middle fill-current mr-2" width="14" height="14" viewBox="0 0 20 20"><path d="M15 17v-2.99A4 4 0 0 0 11 10H8v5L2 9l6-6v5h3a6 6 0 0 1 6 6v3h-2z"/></svg></span>
                    <span>{{ 'Reply to feedback'|t('qarr') }}</span>
                    <span class="spinner hidden"></span>
                </button>
            </div>
        </div>

        <hr>

        {% include 'qarr/_elements/element-actions' ignore missing with { entry: entry, type: 'reviews' } %}
    </div>

    {# DISPLAY FIELDS#}
    {% if fieldLayoutTabs is defined is not empty %}
        {% include 'qarr/_elements/element-entry-display-fields' ignore missing with { entry: entry } %}
    {% endif %}

    {# CORRESPONDENCE #}
    {% include 'qarr/_elements/element-entry-correspondence' ignore missing with { entry: entry } %}

{% endblock %}

{% block details %}
    {# SETTINGS #}
    {% include 'qarr/_elements/element-entry-settings' ignore missing with { entry: entry, type: 'reviews' } %}
{% endblock %}
